# Note that not all variables here might be in use for your selected configuration

# Prisma

DATABASE_URL="mysql://root:@localhost:3306/dotalytics"

# Steam / Passport

DOMAIN=http://localhost:3000
SESSION_SECRET=KEpIsfC6sS31!GL0s5Qru!g1dF
STEAM_API_KEY=123411512123
